<header class="vk-header vk-header-two-nav ">
        <nav class="vk-navbar  navbar">
            <div class="container">
                

                <div class="vk-navbar-header navbar-header">
                    <div class="vk-divider left hidden-xs hidden-sm"></div>
                    <div class="vk-divider right hidden-xs hidden-sm"></div>

                    <button type="button" class="navbar-toggle vk-navbar-toggle collapsed" data-toggle="collapse">
                        <i class="toggle-icon"></i>
                    </button>
                    <!--./vk-navbar-toggle-->

                    

                    <a class="vk-navbar-brand navbar-brand" href="/">
                        <img src="/images/logo.jpg" alt="Sen Iran" style="text-align: center;">
                        
                    </a>
                    <!--./vk-navbar-brand-->
                </div>
                <!--./vk-navbar-header-->

                <div class="collapse navbar-collapse vk-navbar-collapse" id="menu">
                    <ul class="vk-navbar-nav vk-navbar-left">

                        <li>
                            <a href="/">Accueil</a>
                        </li>

                        <li>
                            <a href="#">Showroom</a>
                        </li>

                        <li>
                            <a href="#">Produits</a>
                            <ul class="vk-navbar-nav child">

                                <li><a href="#">Voitures berlines</a></li>

                                <li><a href="#">4x4</a></li>

                                <li><a href="#">Taxis</a></li>

                                <li><a href="#">Autres</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">Services</a>
                            <ul class="vk-navbar-nav child">

                                <li><a href="#">service 1</a></li>

                                <li><a href="#">service 2</a></li>

                                <li><a href="#">service 3</a></li>

                            </ul>
                        </li>

                    </ul>
                    <ul class="vk-navbar-nav vk-navbar-right">


                        <li>
                            <a href="#">usine</a>
                            
                        </li>

                        <li>
                            <a href="#" >formations</a>
                            <ul class="vk-navbar-nav child">

                                <li><a href="#">internes</a></li>

                                <li><a href="#">recrutement</a></li>

                                <li><a href="#">convention</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">evenements</a>
                           
                        </li>

                        <li>
                            <a href="/contact">contact</a>
                            
                        </li>

                    </ul>
                    <div class="box-search-header collapse" id="box-search-header" aria-expanded="false" role="search">
                        <div class="vk-input-group">
                            <input type="text" name="key" placeholder="Search" class="form-control">
                            <button class="vk-btn btn-search">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!--./vk-navbar-collapse-->
            </div>
            <!--./container-->
        </nav>
        <!--./vk-navbar-->

        <div class="vk-header-top hidden-xs hidden-sm">
            <div class="container">
                <div class="content">
                    
                    <ul class="quick-address">
                        <li>Lun - Ven: 8h00 - 18h00</li>
                        <li class="item-search">
                            <span class="btn-search hidden-xs hidden-sm" data-toggle="collapse" data-target="#box-search-header"><i class="fa fa-search"></i></span>

                        </li>

                    </ul>
                    <ul class="quick-address vk-navbar-left">
                        <li>(122) 675 485 035</li>
                        <li>{{ site.email }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--./vk-header-top-->
    </header>
    <!--./vk-header-->
