---
layout: default
---


<section class="vk-content">
<!--<div class="vk-banner vk-parallax" style="background-image: url(../images/eco_2.png); position: relative;">
        <div class="vk-background-overlay vk-background-black-1 _80"></div>
        <div class="container wrapper">
            <div class="page-heading">
                EVENEMENTS ET ACTUALITES
            </div>
        </div>
    </div>
    vk-banner-->

    <div class="vk-breadcrumb">
        <nav class="container">
            <ul>
                <li><a href="/">Accueil</a></li>

                <li><a href="#">blog</a></li>

                <li class="active">Blog grid</li>
            </ul>
        </nav>
    </div>
    <!--./vk-breadcrumb--><!--  -->
    <div class="" data-example-id="media-alignment">
        <div class="vk-blog-wrapper vk-blog-grid">
            <!------ BEGIN BLOG WRPPER ------>
            <div class="container">
                <div class="row">
                    <div class="blog-list clearfix">
                        <!-- BLOG CONTENT -->
                        <div class="col-md-12">
                            <div class=" blog-content">
                                
                                <div class="row">
                                {% for post in site.posts %}
                                    <div class="col-md-6 col-sm-12">
                                        <div class="content-box">

                                            <div class="vk-img-frame">
                                                <a class="vk-img" href="{{ post.url }}">
                                                    <img  src="{{ post.image }}" alt="" style="width: 547px; height: 349px" >
                                                </a>
                                            </div>

                                            <div class="content" style="width: 547px; height: 340px">
                                                <a href="{{ post.url }}">
                                                    <h4 class="vk-text-uppercase">{{ post.title }}</h4>
                                                </a>
                                                <div class="vk-divider"></div>
                                                <p>{{ post.mini_desc }}</p>
                                                <div class="vk-buttons">
                                                    <a href="4.3-single-project.html" class="vk-btn vk-btn-transparent text-uppercase vk-btn-readmore">en savoir plus
                                                        <i class="fa fa-long-arrow-right"></i></a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
                <!------ END BLOG WRAPPER ------>
            </div>
        </div>
    </div>
    <!-- / -->
</section>
<!--./content-->