---
layout: default
---

<section class="vk-content">
    

    <div class="vk-breadcrumb">
        <nav class="container">
            <ul>
                <li><a href="index.html">home</a></li>

                <li><a href="#">page</a></li>

                <li class="active">Contact</li>
            </ul>
        </nav>
    </div>
    <!--./vk-breadcrumb-->    
    <div class="vk-page vk-page-contact">
        <div class="container">
            <div class="vk-map">
                <div id="map-canvas" style="width:100%;height:500px;background-color: rgba(0,0,0,.5);"></div>
            </div>
            <!-- ./map-->

            <div class="vk-contact">
                <div class="row">
                    <div class="col-md-9 left-content">
                        <h4 class="vk-heading text-uppercase">CONTACTEZ NOUS POUR TOUT AUTRE RENSEIGNEMENT</h4>
                        <div class="vk-contact-form">
                            <div class="user-info">
                                <div class="form-group">
                                    <i class="fa fa-user"></i>
                                    <input type="text" name="name" placeholder="NOM *" class="form-control">
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-phone"></i>
                                    <input type="tel" name="tel" placeholder="TELEPHONE" class="form-control">
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-envelope"></i>
                                    <input type="email" name="email" placeholder="Email *" class="form-control">
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-pencil-square-o"></i>
                                    <input type="text" name="subject" placeholder="Sujet" class="form-control">
                                </div>
                            </div>
                            <!-- /.user-info -->

                            <div class="message-content">
                                <div class="form-group">
                                    <textarea name="content" placeholder="Message" class="form-control"></textarea>
                                </div>
                            </div>
                            <!-- /.message-content -->

                            <div class="vk-buttons">
                                <button class="vk-btn vk-btn-default vk-btn-l vk-fullwidth">
                                    <i class="fa fa-paper-plane"></i>ENVOYER
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- ./left-->

                    <div class="col-md-3 right-content">
                        <div class="contact-info">
                            <h4 class="vk-heading text-uppercase">INFORMATIONS </h4>
                            <ul class="vk-list vk-office">
                                <li><i class="fa fa-map-marker"></i>Adresse 1, Dakar, Sénégal</li>

                                <li><i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>

                                <li><i class="fa fa-phone"></i>(221) 33 849 76 87</li>

                            </ul>
                            <!--./vk-office--><ul class="vk-list vk-office">
                            <li><i class="fa fa-map-marker"></i>Adresse 2, Dakar, Sénégal</li>

                            <li><i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>

                            <li><i class="fa fa-phone"></i>(221) 33 849 76 88</li>

                        </ul>
                            <!--./vk-office-->                        </div>
                        <!-- /.contact-info -->

                        <div class="business-hours">
                            <h5 class="vk-heading text-uppercase">Horaires d'ouvertures </h5>
                            <ul class="vk-list vk-office">
                                <li><i class="fa fa-calendar"></i>Lundi - Vendredi</li>

                                <li><i class="fa fa-clock-o"></i>8h00 - 18h00</li>

                            </ul>
                            <!--./vk-office-->                        </div>
                        <!-- /.business-hours -->
                    </div>
                    <!-- ./right-->
                </div>
                <!--./row-->
            </div>
            <!--./vk-contact-->
        </div>
        <!--./container-->
        <div class="vk-space x-medium"></div>
    </div>
    <!--./vk-page-->
</section>
<!--./content-->