<!doctype html>
<html lang="en">
{% include head.html %}
<body>
<!--add animsition class for page loader -->
<div class=" main-wrapper">
    {% include header.html %}
    
    {{ content }}

    {% include footer.html %}
</div>
<!--./main-wrapper-->

<!-- BEGIN: SCRIPT -->
<script src="/plugin/jquery/jquery-2.0.2.min.js"></script>
<script src="/plugin/plugin.min.js"></script>
<!-- Google Maps javascript -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDqF7BlCvlPXR7hwllgjCoXBu0Pgew8Ktk"></script>
<script type="text/javascript" src="/js/google.map.config.js"></script>
<script src="/plugin/main.js"></script>
<script src="/plugin/custom.js"></script>
<!-- END: SCRIPT -->
</body>
</html>