---
layout: default
---

<section class="vk-content">
    <div class="vk-home vk-home-slider">
        <div class="vk-baner-slider vk-slider-arrow-image">

            <div class="vk-banner vk-banner-large vk-banner-mod vk-background-image-25">
                <div class="vk-background-overlay vk-background-black _70"></div>
                <div class="container wrapper">
                    <div class="page-heading">
                      <span class="vk-text title-main">
                          <span class="vk-text-color-yellow-1" data-animation="fadeInLeft" data-delay="0.5s">Construction</span>
                           <span data-animation="fadeIn" data-delay="1s">Building</span>
                      </span>

                        <span class="vk-text title-sub" data-animation="fadeInUp" data-delay="1.3s"><span class="vk-text-color-yellow-1">WICON</span> IS THE BEST CONSTRUCTION SERVICES</span>
                    </div>
                </div>
            </div>
            <!--./vk-banner-->


            <div class="vk-banner vk-banner-large vk-banner-mod vk-background-image-26">
                <div class="vk-background-overlay vk-background-black _70"></div>
                <div class="container wrapper">
                    <div class="page-heading">
                      <span class="vk-text title-main">
                        <span class="vk-text-color-yellow-1" data-animation="fadeInDown" data-delay="0.5s">Construction</span>
                        <span data-animation="fadeInUp" data-delay="0.5s">Building</span>
                      </span>
                      <span class="vk-text title-sub">
                        <span class="vk-text-color-yellow-1" data-animation="fadeInLeft" data-delay="0.6s">WICON</span>
                        <span data-animation="fadeInRight" data-delay="0.6s">IS THE BEST CONSTRUCTION SERVICES</span>
                      </span>
                    </div>
                </div>
            </div>
            <!--./vk-banner-->


            <div class="vk-banner vk-banner-large vk-banner-mod vk-background-image-27">
                <div class="vk-background-overlay vk-background-black _70"></div>
                <div class="container wrapper">
                    <div class="page-heading">
        <span class="vk-text title-main">
                <span class="vk-text-color-yellow-1" data-animation="flipInX" data-delay="0.5s">Construction</span>
                <span  data-animation="flipInX" data-delay="0.7s"> Building</span>

             </span>
                        <span class="vk-text title-sub" data-animation="flipInX" data-delay="0.9s">
                <span class="vk-text-color-yellow-1" > WICON</span> IS THE BEST CONSTRUCTION SERVICES
             </span>
                    </div>
                </div>
            </div>
            <!--./vk-banner-->

        </div>
        <!-- ./vk-banner-slider-->

        <div class="vk-what-we-do-section vk-section vk-section-style-2 vk-section-style-3">
            <div class="container">
                <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                  <span>
                    <span class="vk-text-color-yellow-1">what</span> we do
                  </span>
                </h2>
                <nav class="box-filter text-center clearfix">

                    <ul class="vk-filter vk-filter-button-fix hidden-xs hidden-sm">

                        <li class="data-filter" data-filter=".first">consultant</li>

                        <li class="data-filter" data-filter=".data-design">design</li>

                        <li class="data-filter" data-filter=".data-building">building</li>

                        <li class="data-filter" data-filter=".data-furniture">furniture</li>

                    </ul>
                    <!--./vk-filter-->

                    <select class="vk-filter vk-filter-button-fix form-control hidden-md hidden-lg" id="dropdown-filter">

                        <option class="data-filter" value=".first">consultant</option>

                        <option class="data-filter" value=".data-design">design</option>

                        <option class="data-filter" value=".data-building">building</option>

                        <option class="data-filter" value=".data-furniture">furniture</option>

                    </select>
                    <!--./vk-filter-->
                </nav>

                <div class="row vk-filter-fix">

                    <div class="item first">
                        <div class="col-md-6 left">

                            <div class="vk-img-frame">
                                <img src="images/services/image-7.jpg" alt=""/>
                            </div>
                        </div>
                        <!--./left-->

                        <div class="col-md-6 right">
                            <div class="content">
                                <h4 class="text-uppercase vk-title">CONSULTANT</h4>
                                <p>Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Let’s see what Chef Dee got that they don’t want us to eat. Cloth talk. Mogul talk. </p>
                            </div>
                            <div class="vk-buttons">
                                <div class="vk-counter vk-counter-non-icon">
                                    <ul class="content">
                                        <li class="number-count" data-to="500">500</li>
                                        <li class="title text-uppercase">projects</li>
                                    </ul>
                                </div>
                                <a href="4.2-project-grid.html" class="vk-btn vk-btn-transparent text-uppercase">SEE ALL
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                            <!--./vk-buttons-->

                            <div class="vk-work-step-mini">
                                <h4 class="vk-title text-uppercase">work process</h4>
                                <ul class="vk-list vk-list-inline vk-list-step-mini">
                                    <li aria-level="1">first step</li>
                                    <li aria-level="2">second step</li>
                                    <li aria-level="3">third step</li>
                                </ul>
                            </div>
                            <!--./vk-work-step-mini-->
                        </div>
                        <!--./right-->
                    </div>

                    <div class="item data-design">
                        <div class="col-md-6 left">

                            <div class="vk-img-frame">
                                <img src="images/services/image-6.jpg" alt=""/>
                            </div>
                        </div>
                        <!--./left-->

                        <div class="col-md-6 right">
                            <div class="content">
                                <h4 class="text-uppercase vk-title">Design</h4>
                                <p>Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Let’s see what Chef Dee got that they don’t want us to eat. Cloth talk. Mogul talk. </p>
                            </div>
                            <div class="vk-buttons">
                                <div class="vk-counter vk-counter-non-icon">
                                    <ul class="content">
                                        <li class="number-count" data-to="500">500</li>
                                        <li class="title text-uppercase">projects</li>
                                    </ul>
                                </div>
                                <a href="4.2-project-grid.html" class="vk-btn vk-btn-transparent text-uppercase">SEE ALL
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                            <!--./vk-buttons-->

                            <div class="vk-work-step-mini">
                                <h4 class="vk-title text-uppercase">work process</h4>
                                <ul class="vk-list vk-list-inline vk-list-step-mini">
                                    <li aria-level="1">first step</li>
                                    <li aria-level="2">second step</li>
                                    <li aria-level="3">third step</li>
                                </ul>
                            </div>
                            <!--./vk-work-step-mini-->
                        </div>
                        <!--./right-->
                    </div>

                    <div class="item data-building">
                        <div class="col-md-6 left">

                            <div class="vk-img-frame">
                                <img src="images/services/image-5.jpg" alt=""/>
                            </div>
                        </div>
                        <!--./left-->

                        <div class="col-md-6 right">
                            <div class="content">
                                <h4 class="text-uppercase vk-title">building</h4>
                                <p>Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Let’s see what Chef Dee got that they don’t want us to eat. Cloth talk. Mogul talk. </p>
                            </div>
                            <div class="vk-buttons">
                                <div class="vk-counter vk-counter-non-icon">
                                    <ul class="content">
                                        <li class="number-count" data-to="500">500</li>
                                        <li class="title text-uppercase">projects</li>
                                    </ul>
                                </div>
                                <a href="4.2-project-grid.html" class="vk-btn vk-btn-transparent text-uppercase">SEE ALL
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                            <!--./vk-buttons-->

                            <div class="vk-work-step-mini">
                                <h4 class="vk-title text-uppercase">work process</h4>
                                <ul class="vk-list vk-list-inline vk-list-step-mini">
                                    <li aria-level="1">first step</li>
                                    <li aria-level="2">second step</li>
                                    <li aria-level="3">third step</li>
                                </ul>
                            </div>
                            <!--./vk-work-step-mini-->
                        </div>
                        <!--./right-->
                    </div>

                    <div class="item data-furniture">
                        <div class="col-md-6 left">

                            <div class="vk-img-frame">
                                <img src="images/services/image-4.jpg" alt=""/>
                            </div>
                        </div>
                        <!--./left-->

                        <div class="col-md-6 right">
                            <div class="content">
                                <h4 class="text-uppercase vk-title">furniture</h4>
                                <p>Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Let’s see what Chef Dee got that they don’t want us to eat. Cloth talk. Mogul talk. </p>
                            </div>
                            <div class="vk-buttons">
                                <div class="vk-counter vk-counter-non-icon">
                                    <ul class="content">
                                        <li class="number-count" data-to="500">500</li>
                                        <li class="title text-uppercase">projects</li>
                                    </ul>
                                </div>
                                <a href="4.2-project-grid.html" class="vk-btn vk-btn-transparent text-uppercase">SEE ALL
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                            <!--./vk-buttons-->

                            <div class="vk-work-step-mini">
                                <h4 class="vk-title text-uppercase">work process</h4>
                                <ul class="vk-list vk-list-inline vk-list-step-mini">
                                    <li aria-level="1">first step</li>
                                    <li aria-level="2">second step</li>
                                    <li aria-level="3">third step</li>
                                </ul>
                            </div>
                            <!--./vk-work-step-mini-->
                        </div>
                        <!--./right-->
                    </div>

                </div>
                <!--./row-->
            </div>
            <!--./container-->
        </div>
        <!--./vk-what-we-do-section-->

        <div class="vk-counter-section vk-background-image-24 vk-counter-section-style-1 vk-parallax">
            <div class="vk-background-overlay vk-background-black-1 _80"></div>
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-6">

                        <div class="vk-counter vk-counter-dark vk-counter-inline first-child">
                            <i class="flaticon flaticon-ruler-and-pencil"></i>
                            <ul class="content">
                                <li class="number-count" data-to="500">500</li>
                                <li class="title text-uppercase">projects</li>
                            </ul>
                        </div>
                        <!--./vk-counter-->

                    </div>

                    <div class="col-md-3 col-sm-6">

                        <div class="vk-counter vk-counter-dark vk-counter-inline">
                            <i class="flaticon flaticon-worker-1"></i>
                            <ul class="content">
                                <li class="number-count" data-to="500">500</li>
                                <li class="title text-uppercase">projects</li>
                            </ul>
                        </div>
                        <!--./vk-counter-->

                    </div>

                    <div class="col-md-3 col-sm-6">

                        <div class="vk-counter vk-counter-dark vk-counter-inline">
                            <i class="flaticon flaticon-wrench"></i>
                            <ul class="content">
                                <li class="number-count" data-to="500">500</li>
                                <li class="title text-uppercase">projects</li>
                            </ul>
                        </div>
                        <!--./vk-counter-->

                    </div>

                    <div class="col-md-3 col-sm-6">

                        <div class="vk-counter vk-counter-dark vk-counter-inline">
                            <i class="flaticon flaticon-bricks"></i>
                            <ul class="content">
                                <li class="number-count" data-to="500">500</li>
                                <li class="title text-uppercase">projects</li>
                            </ul>
                        </div>
                        <!--./vk-counter-->

                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!--./vk-counter-section-->


        

        <div class="vk-our-team vk-image-slider-style-2 vk-parallax vk-background-image-13 vk-section">
            <div class="vk-background-overlay vk-background-black-1 _90"></div>
            <div class="container">
                <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                <span>
                    <span class="vk-text-color-yellow-1">nos </span>
                    Produits
                </span>
                </h2>
                <div class="row">

                    <div class="vk-slider vk-slick-slider vk-our-team-slider vk-slider-arrow-top" data-slick='{"slidesToShow": 4}'>
                        {% for produit in site.produits %}
                        <div class="item col-md-3">
                            <div class="vk-img-frame">
                                <a href="{{ produit.image }}" class="vk-img" data-lightbox="image-slide-0">
                                    <img src="{{ produit.image }}" alt="">
                                </a>
                            </div>
                            <ul class="content">
                                <li class="title">{{ produit.type }}</li>
                                <li class="position">{{ produit.title }}</li>
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                    <!--./vk-slider-->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.vk-image-slider-style-2 -->

        <div class="vk-iconbox-without-background vk-section">
            <div class="container">
                <h2 class="vk-heading vk-heading-line-yellow vk-heading-line-yellow-center">
                    <span class="vk-text-color-yellow-1">your</span>
                    benefits
                </h2>

                <div class="row">

                    <div class="col-md-4 col-sm-6">

                        <div class="vk-iconbox  text-center">
                            <div class="icon">
                                <i class="flaticon flaticon-home-1"></i>
                            </div>
                            <div class="iconbox-content">
                                <h4 class="vk-title text-uppercase">Benefit 1</h4>
                                <p class="vk-text">Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears.</p>
                            </div>
                        </div>
                        <!--./vk-iconbox-->

                    </div>

                    <div class="col-md-4 col-sm-6">

                        <div class="vk-iconbox  text-center">
                            <div class="icon">
                                <i class="flaticon flaticon-fan"></i>
                            </div>
                            <div class="iconbox-content">
                                <h4 class="vk-title text-uppercase">Benefit 2</h4>
                                <p class="vk-text">Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears.</p>
                            </div>
                        </div>
                        <!--./vk-iconbox-->

                    </div>

                    <div class="col-md-4 col-sm-6">

                        <div class="vk-iconbox  text-center">
                            <div class="icon">
                                <i class="flaticon flaticon-hammer"></i>
                            </div>
                            <div class="iconbox-content">
                                <h4 class="vk-title text-uppercase">Benefit 3</h4>
                                <p class="vk-text">Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears.</p>
                            </div>
                        </div>
                        <!--./vk-iconbox-->

                    </div>

                    <div class="col-md-4 col-sm-6">

                        <div class="vk-iconbox  text-center">
                            <div class="icon">
                                <i class="flaticon flaticon-fence"></i>
                            </div>
                            <div class="iconbox-content">
                                <h4 class="vk-title text-uppercase">Benefit 4</h4>
                                <p class="vk-text">Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears.</p>
                            </div>
                        </div>
                        <!--./vk-iconbox-->

                    </div>

                    <div class="col-md-4 col-sm-6">

                        <div class="vk-iconbox  text-center">
                            <div class="icon">
                                <i class="flaticon flaticon-inflamable"></i>
                            </div>
                            <div class="iconbox-content">
                                <h4 class="vk-title text-uppercase">Benefit 5</h4>
                                <p class="vk-text">Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears.</p>
                            </div>
                        </div>
                        <!--./vk-iconbox-->

                    </div>

                    <div class="col-md-4 col-sm-6">

                        <div class="vk-iconbox  text-center">
                            <div class="icon">
                                <i class="flaticon flaticon-wrench"></i>
                            </div>
                            <div class="iconbox-content">
                                <h4 class="vk-title text-uppercase">Benefit 6</h4>
                                <p class="vk-text">Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears.</p>
                            </div>
                        </div>
                        <!--./vk-iconbox-->

                    </div>
                </div>
                <!--./row-->
            </div>
            <!--./container-->
        </div>
        <!--./vk-iconbox-without-background-->


        <div class="vk-join-our-team-section vk-background-fixed vk-background-image-4 vk-section-style-4 vk-space x-large ">
            <div class="vk-background-overlay vk-background-black-1 _80"></div>

            <div class="container">
                <div class="content-section text-uppercase">
                    <h2 class="vk-heading vk-heading-border vk-heading-border-right">
            <span>
                <span class="vk-text-color-yellow-1">join</span> our team
            </span>

                    </h2>
                    <p>Lorem Khaled Ipsum is a major key to success.</p>
                    <p>Put it this way, it took me twenty five</p>
                    <p>years to get these plants</p>

                    <div class="vk-buttons">
                        <a href="2.5-career-page.html" class="vk-btn vk-btn-icon vk-btn-default">
                            <span class="title">career</span>
                            <span class="icon">
                    <i class="fa fa-long-arrow-right"></i>
                </span>
                        </a>
                    </div>
                    <!--./vk-buttons-->
                </div>
                <!--./content-section-->
            </div>
            <!-- /.container -->
        </div>
        <!--./vk-join-our-team-section-->

        <div class="vk-section vk-content-bot">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left-content">
                        <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                    <span>
                        <span class="vk-text-color-yellow-1">customer</span>
                        say
                    </span>
                        </h2>

                        <div class="row">
                            <div class="vk-testimonial-list vk-slider-arrow-top customer-slider">

                                <div class="col-md-6 item">
                                    <div class="vk-testimonial">
                                        <div class="avatar">
                                            <div class="vk-img-frame">
                                                <a href="#" class="vk-img">
                                                    <img src="images/testimonial/testimonial-1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="profile">
                                                <span class="name">AMANDA SMITH</span>
                                                <span class="position">manager</span>
                                            </div>
                                        </div>
                                        <!--./avatar-->

                                        <div class="content">
                                            <i class="fa fa-quote-left"></i>
                                            <p class="vk-text">Lorem Khaled Ipsum is a major key to success. Put it this way, it took twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean.</p>
                                        </div>
                                        <!-- ./content-->
                                    </div>
                                    <!--./testimonial-->
                                </div>

                                <div class="col-md-6 item">
                                    <div class="vk-testimonial">
                                        <div class="avatar">
                                            <div class="vk-img-frame">
                                                <a href="#" class="vk-img">
                                                    <img src="images/testimonial/testimonial-2.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="profile">
                                                <span class="name">JOHN STONE</span>
                                                <span class="position">manager</span>
                                            </div>
                                        </div>
                                        <!--./avatar-->

                                        <div class="content">
                                            <i class="fa fa-quote-left"></i>
                                            <p class="vk-text">Let’s see what Chef Dee got that they don’t want us to eat. To succeed you must believe. When you believe, you will succeed. Another one. The key is to enjoy life, because they don’t want you to enjoy life. I promise you, they don’t want you to jetski, they don’t want you to smile. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.</p>
                                        </div>
                                        <!-- ./content-->
                                    </div>
                                    <!--./testimonial-->
                                </div>

                                <div class="col-md-6 item">
                                    <div class="vk-testimonial">
                                        <div class="avatar">
                                            <div class="vk-img-frame">
                                                <a href="#" class="vk-img">
                                                    <img src="images/testimonial/testimonial-3.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="profile">
                                                <span class="name">ALEX MAYA</span>
                                                <span class="position">manager</span>
                                            </div>
                                        </div>
                                        <!--./avatar-->

                                        <div class="content">
                                            <i class="fa fa-quote-left"></i>
                                            <p class="vk-text">Fan luv. Don’t ever play yourself. You smart, you loyal, you a genius. The key to more success is to have a lot of pillows. Cloth talk. In life there will be road blocks but we will over come it. Give thanks to the most high. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. Look at the sunset, life is amazing, life is beautiful, life is what you make it.</p>
                                        </div>
                                        <!-- ./content-->
                                    </div>
                                    <!--./testimonial-->
                                </div>

                                <div class="col-md-6 item">
                                    <div class="vk-testimonial">
                                        <div class="avatar">
                                            <div class="vk-img-frame">
                                                <a href="#" class="vk-img">
                                                    <img src="images/testimonial/testimonial-4.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="profile">
                                                <span class="name">SELENA GOMEZ</span>
                                                <span class="position">manager</span>
                                            </div>
                                        </div>
                                        <!--./avatar-->

                                        <div class="content">
                                            <i class="fa fa-quote-left"></i>
                                            <p class="vk-text">Let’s see what Chef Dee got that they don’t want us to eat. To succeed you must believe. When you believe, you will succeed. Another one.</p>
                                        </div>
                                        <!-- ./content-->
                                    </div>
                                    <!--./testimonial-->
                                </div>

                                <div class="col-md-6 item">
                                    <div class="vk-testimonial">
                                        <div class="avatar">
                                            <div class="vk-img-frame">
                                                <a href="#" class="vk-img">
                                                    <img src="images/testimonial/testimonial-5.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="profile">
                                                <span class="name">KATY PERRY</span>
                                                <span class="position">manager</span>
                                            </div>
                                        </div>
                                        <!--./avatar-->

                                        <div class="content">
                                            <i class="fa fa-quote-left"></i>
                                            <p class="vk-text">Fan luv. Don’t ever play yourself. You smart, you loyal, you a genius. The key to more success is to have a lot of pillows. Cloth talk. In life there will be road blocks but we will over come it. Give thanks to the most high.</p>
                                        </div>
                                        <!-- ./content-->
                                    </div>
                                    <!--./testimonial-->
                                </div>

                                <div class="col-md-6 item">
                                    <div class="vk-testimonial">
                                        <div class="avatar">
                                            <div class="vk-img-frame">
                                                <a href="#" class="vk-img">
                                                    <img src="images/testimonial/testimonial-6.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="profile">
                                                <span class="name">ADAM LALANA</span>
                                                <span class="position">manager</span>
                                            </div>
                                        </div>
                                        <!--./avatar-->

                                        <div class="content">
                                            <i class="fa fa-quote-left"></i>
                                            <p class="vk-text">Learning is cool, but knowing is better, and I know the key to success. I’m up to something. Lion! They never said winning was easy. Some people can’t handle success, I can. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender.</p>
                                        </div>
                                        <!-- ./content-->
                                    </div>
                                    <!--./testimonial-->
                                </div>

                                <div class="col-md-6 item">
                                    <div class="vk-testimonial">
                                        <div class="avatar">
                                            <div class="vk-img-frame">
                                                <a href="#" class="vk-img">
                                                    <img src="images/testimonial/testimonial-7.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="profile">
                                                <span class="name">ADAM SMITH</span>
                                                <span class="position">manager</span>
                                            </div>
                                        </div>
                                        <!--./avatar-->

                                        <div class="content">
                                            <i class="fa fa-quote-left"></i>
                                            <p class="vk-text">The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion! To succeed you must believe. When you believe, you will succeed. The first of the month is coming, we have to get money, we have no choice. It cost money to eat and they don’t want you to eat. Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world out there.</p>
                                        </div>
                                        <!-- ./content-->
                                    </div>
                                    <!--./testimonial-->
                                </div>

                                <div class="col-md-6 item">
                                    <div class="vk-testimonial">
                                        <div class="avatar">
                                            <div class="vk-img-frame">
                                                <a href="#" class="vk-img">
                                                    <img src="images/testimonial/testimonial-8.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="profile">
                                                <span class="name">LUIS DALTON</span>
                                                <span class="position">manager</span>
                                            </div>
                                        </div>
                                        <!--./avatar-->

                                        <div class="content">
                                            <i class="fa fa-quote-left"></i>
                                            <p class="vk-text">Learning is cool, but knowing is better, and I know the key to success. I’m up to something. Lion! They never said winning was easy. Some people can’t handle success, I can. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender.</p>
                                        </div>
                                        <!-- ./content-->
                                    </div>
                                    <!--./testimonial-->
                                </div>
                            </div>
                            <!--./vk-testimonial-list-->
                        </div>
                        <!--./row-->
                    </div>
                    <!--./col-md-6-->

                    <div class="col-md-6 right-content">
                        <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                    <span>
                        <span class="vk-text-color-yellow-1">our</span>
                        clients
                    </span>

                        </h2>

                        <ul class="vk-list vk-list-client-style-1">

                            <li class="vk-img-frame">
                                <img src="images/about/img1.png" alt="">
                            </li>

                            <li class="vk-img-frame">
                                <img src="images/about/img2.png" alt="">
                            </li>

                            <li class="vk-img-frame">
                                <img src="images/about/img3.png" alt="">
                            </li>

                            <li class="vk-img-frame">
                                <img src="images/about/img4.png" alt="">
                            </li>

                            <li class="vk-img-frame">
                                <img src="images/about/img5.png" alt="">
                            </li>

                            <li class="vk-img-frame">
                                <img src="images/about/img6.png" alt="">
                            </li>

                            <li class="vk-img-frame">
                                <img src="images/about/img7.png" alt="">
                            </li>

                            <li class="vk-img-frame">
                                <img src="images/about/img8.png" alt="">
                            </li>

                            <li class="vk-img-frame">
                                <img src="images/about/img9.png" alt="">
                            </li>

                        </ul>
                        <!--./vk-list-client-style-1-->
                    </div>
                    <!--./col-md-6-->
                </div>
                <!--./row-->
            </div>
            <!--./container-->
        </div>
        <!--./vk-content-bot-->
    </div>
    <!--./home-->

</section>
<!--./content-->